line_codes.md

chileEnv/
chileEnv/.
chileEnv/Lib/site-packages
chileEnv/*
.chileEnv
.chileEnv/


__pycache__/


backend/user/__pycache__
**/**/**/__pycache__/
**/**/__pycache__/
**/__pycache__
/**/__pycache__
.__pycahche__
._pycache_

/**/db.sqlite3
migrations/

**.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
chileEnv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
**.egg-info/
.installed.cfg
**.egg